<script type="text/javascript">
var NUM_SLIDERS = {{channelCount}};
</script>
<script src="js/control.js"></script>
<style type="text/css">
	{{#each sliders}}
		#slider{{@index}}div > .slider-track{
			background: {{this.color}};
		}
	{{/each}}
	.slider-container {
		height: 100;
		width: 60%;
		margin: 0 auto;
	}
</style>
<br><br>
{{#each sliders}}
	<p class="slider-container">
	<label for="slider{{@index}}div">{{this.title}}</label><br>
		<input data-slider-id="slider{{@index}}div" id="slider{{@index}}" type="text" data-slider-min="0" data-slider-max="1023" data-slider-step="1" data-slider-value="{{this.val}}"/>
	</p>
{{/each}}
<div id="res"></div>